USE [master]
GO
/****** Object:  Database [TechDb]    Script Date: 06-10-2026 21:28:49 ******/
CREATE DATABASE [TechDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechDb', FILENAME = N'D:\Software\MSSQL17.SQLEXPRESS\MSSQL\DATA\TechDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechDb_log', FILENAME = N'D:\Software\MSSQL17.SQLEXPRESS\MSSQL\DATA\TechDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechDb]
GO
/****** Object:  Table [dbo].[BillDetails]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetails](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[BillNo] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[BillDate] [date] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentReceived] [decimal](18, 2) NOT NULL,
	[PaymentDate] [date] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[BalanceAmount] [decimal](18, 2) NOT NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDetails]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Registrationdate] [nvarchar](50) NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_CustomerDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[ProductName] [nvarchar](160) NULL,
	[StockAbilable] [int] NULL,
	[ReorderStock] [int] NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillDetails] ON 

INSERT [dbo].[BillDetails] ([BillId], [BillNo], [CustomerId], [BillDate], [TotalAmount], [PaymentReceived], [PaymentDate], [PaymentMethod], [BalanceAmount], [PaymentStatus]) VALUES (1, N'Bill-01', 4, CAST(N'2026-05-10' AS Date), CAST(50000.00 AS Decimal(18, 2)), CAST(4500.00 AS Decimal(18, 2)), CAST(N'2026-05-10' AS Date), N'Case', CAST(45500.00 AS Decimal(18, 2)), N'Partial')
INSERT [dbo].[BillDetails] ([BillId], [BillNo], [CustomerId], [BillDate], [TotalAmount], [PaymentReceived], [PaymentDate], [PaymentMethod], [BalanceAmount], [PaymentStatus]) VALUES (2, N'BILL-002', 1, CAST(N'2026-10-05' AS Date), CAST(5000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(N'2026-10-05' AS Date), N'UPI', CAST(3000.00 AS Decimal(18, 2)), N'Partial')
INSERT [dbo].[BillDetails] ([BillId], [BillNo], [CustomerId], [BillDate], [TotalAmount], [PaymentReceived], [PaymentDate], [PaymentMethod], [BalanceAmount], [PaymentStatus]) VALUES (3, N'BILL-03', 1, CAST(N'2026-10-05' AS Date), CAST(500.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(N'2026-10-05' AS Date), N'UPI', CAST(0.00 AS Decimal(18, 2)), N'Paid')
SET IDENTITY_INSERT [dbo].[BillDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerDetails] ON 

INSERT [dbo].[CustomerDetails] ([id], [FirstName], [LastName], [Email], [Mobile], [Registrationdate], [CustomerId]) VALUES (8, N'pradeep ', N'chauhan', N'dbsdjhbjh@gmail.com', N'1986565164', N'2026-10-04', 74)
INSERT [dbo].[CustomerDetails] ([id], [FirstName], [LastName], [Email], [Mobile], [Registrationdate], [CustomerId]) VALUES (9, N'n', N'n', N'n@gmail.com', N'120', N'12-05-2026', 4)
INSERT [dbo].[CustomerDetails] ([id], [FirstName], [LastName], [Email], [Mobile], [Registrationdate], [CustomerId]) VALUES (12, N'p', N'p', N'pk3406453@gmail.com', N'07467823237', N'2026-10-04', 12)
SET IDENTITY_INSERT [dbo].[CustomerDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([Id], [ProductId], [ProductName], [StockAbilable], [ReorderStock]) VALUES (1004, 1, N'mobile', 304, 40)
INSERT [dbo].[Inventory] ([Id], [ProductId], [ProductName], [StockAbilable], [ReorderStock]) VALUES (1007, 2, N'laptop', 50, 100)
INSERT [dbo].[Inventory] ([Id], [ProductId], [ProductName], [StockAbilable], [ReorderStock]) VALUES (1008, 1, N'mobile', 304, 40)
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCustomerDetails]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[sp_DeleteCustomerDetails]
   @CustomerId int
 as
  Begin
 delete from customerdetails where CustomerId= @CustomerId 
  End
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInventoryData]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetInventoryData]
 as 
 begin

 select * from Inventory
 end
GO
/****** Object:  StoredProcedure [dbo].[sp_inventoryDeleteDetailes]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_inventoryDeleteDetailes]
    @ProductId INT
AS
BEGIN
    DELETE FROM Inventory
    WHERE ProductId = @ProductId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_inventoryUpdateDetailes]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_inventoryUpdateDetailes]
        @ProductId INT = 0,
    @ProductName NVARCHAR(160),
    @ReorderStock INT = 0,
    @StockAbilable INT = 0
AS
BEGIN
   update Inventory set ProductId=@ProductId, ProductName=@ProductName, ReorderStock=@ReorderStock, StockAbilable=@StockAbilable
    WHERE ProductId = @ProductId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SaveBillDetails]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveBillDetails]
    @BillNo NVARCHAR(50),
    @CustomerId INT,
    @BillDate DATE,
    @TotalAmount DECIMAL(18,2),
    @PaymentReceived DECIMAL(18,2),
    @PaymentDate DATE = NULL,
    @PaymentMethod NVARCHAR(50) = NULL,
    @BalanceAmount DECIMAL(18,2),
    @PaymentStatus NVARCHAR(20)
AS
BEGIN

    INSERT INTO BillDetails
    (
        BillNo,
        CustomerId,
        BillDate,
        TotalAmount,
        PaymentReceived,
        PaymentDate,
        PaymentMethod,
        BalanceAmount,
        PaymentStatus
    )
    VALUES
    (
        @BillNo,
        @CustomerId,
        @BillDate,
        @TotalAmount,
        @PaymentReceived,
        @PaymentDate,
        @PaymentMethod,
        @BalanceAmount,
        @PaymentStatus
    );

END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveCustomerDetails]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from customerdetails

 create procedure [dbo].[sp_SaveCustomerDetails]
 @CustomerId int, @Firstname nvarchar (50),@Lastname nvarchar (50),@Email nvarchar (50),@Mobile nvarchar (50),@Registrationdate nvarchar (50)
  as 
  Begin
  insert into customerdetails (CustomerId,Firstname,Lastname,Email,Mobile,Registrationdate)
  values(@CustomerId,@Firstname,@Lastname,@Email,@Mobile,@Registrationdate)
  End
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveinventoryData]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_SaveinventoryData] 
    @ProductId INT = 0,
    @ProductName NVARCHAR(160),
    @ReorderStock INT = 0,
    @StockAbilable INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Inventory (ProductId, ProductName, ReorderStock, StockAbilable) 
    VALUES (@ProductId, @ProductName, @ReorderStock, @StockAbilable);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ShowBillDetails]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ShowBillDetails]
AS
BEGIN

    SELECT
        B.BillId,
        B.BillNo,
        B.CustomerId,

        C.FirstName + ' ' + C.LastName AS CustomerName,

        B.BillDate,
        B.TotalAmount,
        B.PaymentReceived,
        B.PaymentDate,
        B.PaymentMethod,
        B.BalanceAmount,
        B.PaymentStatus

    FROM BillDetails B

    INNER JOIN CustomerDetails C
        ON B.CustomerId = C.CustomerId

    ORDER BY B.BillId DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_showCustomerDetails]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   create procedure [dbo].[sp_showCustomerDetails]
 as
  Begin
 select * from customerdetails
  End
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBillDetails]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateBillDetails]
    @BillId INT,
    @BillNo NVARCHAR(50),
    @CustomerId INT,
    @BillDate DATE,
    @TotalAmount DECIMAL(18,2),
    @PaymentReceived DECIMAL(18,2),
    @PaymentDate DATE = NULL,
    @PaymentMethod NVARCHAR(50) = NULL,
    @BalanceAmount DECIMAL(18,2),
    @PaymentStatus NVARCHAR(20)
AS
BEGIN

    UPDATE BillDetails
    SET
        BillNo = @BillNo,
        CustomerId = @CustomerId,
        BillDate = @BillDate,
        TotalAmount = @TotalAmount,
        PaymentReceived = @PaymentReceived,
        PaymentDate = @PaymentDate,
        PaymentMethod = @PaymentMethod,
        BalanceAmount = @BalanceAmount,
        PaymentStatus = @PaymentStatus
    WHERE BillId = @BillId;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomerDetails]    Script Date: 06-10-2026 21:28:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[sp_UpdateCustomerDetails]
   @CustomerId int,@FirstName nvarchar (50),@LastName nvarchar (50),@Mobile nvarchar (50),@Email nvarchar (50),@Registrationdate nvarchar (50)
 as
  Begin
update customerdetails set CustomerId= @CustomerId ,FirstName=@FirstName,LastName=@LastName,Mobile=@Mobile,Email=@Email,Registrationdate=@Registrationdate
where CustomerId= @CustomerId
  End
GO
USE [master]
GO
